{template 'common/header'} 
<style>
	header{ display:none !important;}
	.main{ margin-left:0px !important;}
	#aside{ display:none !important;}
	.section_main{ margin-left:0px !important;}


</style>
<script language="javascript" src="../addons/j_money/template/js/highcharts.js"></script> 
<script language="javascript" src="../addons/j_money/template/js/bootstrap-tooltip.js"></script> 
<script language="javascript" src="../addons/j_money/template/js/bootstrap-popover.js"></script> 
<script>
$(function () {
  $('[data-toggle="popover"]').popover();
})
</script>
<ul class="nav nav-tabs">
  <li><a href="./index.php?c=home&a=welcome&do=ext&m=j_money">返回收银台</a></li>
  <li {if $operation == 'display'}class="active"{/if}><a href="{php echo $this->createWebUrl('history', array('op'=>'display','shopid'=>$shopid))}">收银记录</a></li>
  <li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('history', array('op'=>'post','shopid'=>$shopid))}">核对账目</a></li>
  <li><a href="{php echo $this->createWebUrl('history', array('op' => 'update'))}">同步旧数据</a></li>
</ul>
<script>
require(['bootstrap'],function($){
	$('.btn,.tips').hover(function(){
		$(this).tooltip('show');
	},function(){
		$(this).tooltip('hide');
	});
});
</script> 
{if $operation == 'post'}
<div class="main">
  <div class="category">
    <form action="" class="form-horizontal form">
      <input type="hidden" name="c" value="site" />
      <input type="hidden" name="a" value="entry" />
      <input type="hidden" name="m" value="j_money" />
      <input type="hidden" name="do" value="history" />
      <input type="hidden" name="op" value="post" />
      <input type="hidden" name="isexplode" id="isexplode" value="0" />
      <input type="hidden" name="token" value="{$_W['token']}" />
      <div class="panel panel-info">
      <div class="panel-heading">{$shop['companyname']}总记录</div>
      <div class="panel-body table-responsive">

            <div class="form-group">
            <!-- <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> -->
            <div class="col-sm-9 form-inline">
              <div class="input-group"> 
                <span class="input-group-addon">筛选</span> <span class="input-group-btn">
                <select name="shopid" id="shopid"  class="form-control" onChange="changeGroup(1)">
                  <option value="0">全部团队</option>
                    {loop $grouplist $row}
                  <option value="{$row['id']}" {if $row['id']==$_GPC['shopid']}selected{/if}>{$row['companyname']}</option>
                    {/loop}
                </select>
                </span>
                <span class="input-group-btn">
                <select name="userid" id="userid" class="form-control" onChange="changeGroup(2)">
                  <option value="0">全部人员</option>
                    {loop $userList $id $val}
                  <option value="{$id}" {if $id==$_GPC['userid']}selected{/if}>{$val}</option>
                    {/loop}
                </select>
                </span> 
                <span class="input-group-btn">
                
                {php echo tpl_form_field_daterange('gametime', array('start' =>$starttime,'end'=>$endtime),true)}
                </span>
              </div>
              
            </div>
            </div>
          <div class="form-group">
            <!-- <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> -->
            <div class="col-sm-9 form-inline">
              <input type="submit" class="btn btn-danger" onClick="$('#isexplode').val(1)" name="explode" value="导出数据"/>
               <input type="submit" class="btn btn-info" onClick="$('#isexplode').val(0)" value="搜索记录"/>
            </div>
          </div>
        
        <table class="table table-hover">
            <thead>
              <tr>
                <th>类型</th>
                <th>实际支付总金额</th>
                <th>返佣</th>
                <th>结算</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>微信</td>
                <td>￥{php echo sprintf('%.2f',($totalFee['wxpay_total']/100))}元 | {php echo $totalFee['wxpay_count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($totalFee['wxpay_rate_total']/100))}元 </td>
                <td>￥{php echo sprintf('%.2f',($totalFee['wxpay_total']/100-$totalFee['wxpay_rate_total']/100))}元 | {php echo $totalFee['wxpay_count']}笔</td>
              </tr>
              <tr>
                <td>支付宝</td>
                <td>￥{php echo sprintf('%.2f',($totalFee['alipay_total']/100))}元 | {php echo $totalFee['alipay_count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($totalFee['alipay_rate_total']/100))}元 </td>
                <td>￥{php echo sprintf('%.2f',($totalFee['alipay_total']/100-$totalFee['alipay_rate_total']/100))}元 | {php echo $totalFee['alipay_count']}笔</td>
              </tr>

               <tr>
                <td>银行卡</td>
                <td>￥{php echo sprintf('%.2f',($totalFee['cardpay_total']/100))}元 | {php echo $totalFee['cardpay_count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($totalFee['cardpay_rate_total']/100))}元 </td>
                <td>￥{php echo sprintf('%.2f',($totalFee['cardpay_total']/100-$totalFee['cardpay_rate_total']/100))}元 | {php echo $totalFee['cardpay_count']}笔</td>
              </tr>
              <tr>
                <td><strong>合计</strong></td>
                <td style="color:#F00">￥{php echo sprintf('%.2f',($totalFee['wxpay_total']/100+$totalFee['cardpay_total']/100+$totalFee['alipay_total']/100))}元 | {php echo $totalFee['wxpay_count']+$totalFee['cardpay_count']+$totalFee['alipay_count']}笔</td>
                <td style="color:#F00">￥{php echo sprintf('%.2f',(($totalFee['wxpay_rate_total']+$totalFee['cardpay_rate_total']+$totalFee['alipay_rate_total'])/100))}元</td>
                <td style="color:#F00">￥{php echo sprintf('%.2f',(($totalFee['wxpay_total']+$totalFee['cardpay_total']+$totalFee['alipay_total']-$totalFee['wxpay_rate_total']-$totalFee['alipay_rate_total']-$totalFee['cardpay_rate_total'])/100))}元 |  {php echo $totalFee['wxpay_count']+$totalFee['alipay_count']}笔</td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:140px;">单号</th>
                <th>订单金额</th>
                <th>实际支付</th>
                <th>返佣</th>
                <th>结算</th>
                <th>状态</th>
              </tr>
            </thead>
            <tbody>
            {loop $list $row}
            <tr>
              <td>
                <p><span class="label label-success">{$row['out_trade_no']}</span></p>
                <span class="label label-info">{php echo date("m-d H:i",$row['createtime'])}</span>
                </td>
              <td>￥{php echo sprintf('%.2f',($row['total_fee']/100))}</td>
              <td>￥{php echo sprintf('%.2f',($row['cash_fee']/100))}</td>
              <td><p><span class="label label-success">{php echo $row['paytype'] == 0 ? sprintf('%.2f',$rate['wxpay_rate']) : sprintf('%.2f',$rate['alipay_rate']);}%</span> </p>
              <span class="label label-danger">￥{php echo sprintf('%.2f',$row['cash_fee']*($row['paytype'] == 0 ? sprintf('%.2f',$rate['wxpay_rate']) : sprintf('%.2f',$rate['alipay_rate']))/10000);}</span></td>
              <td><span class="label label-danger">￥{php echo sprintf('%.2f',($row['cash_fee']/100))-sprintf('%.2f',$row['cash_fee']*($row['paytype'] == 0 ? sprintf('%.2f',$rate['wxpay_rate']) : sprintf('%.2f',$rate['alipay_rate']))/10000);}</span></td>
              <td>
              {if $row['paytype']==0}
              <img src="{MODULE_URL}template/img/wechart.gif" width="21"/> 
              {else if $row['paytype']==1}
                <img src="{MODULE_URL}template/img/alipay.gif" width="21"/> 
              {else if $row['paytype']==3}
                <img src="{MODULE_URL}template/img/credit.gif" width="21"/> 
              {else if $row['paytype']==2}
                <img src="{MODULE_URL}template/img/cash.gif" width="21"/> 
              {/if}
              {if $row['status']==1} <span class="label label-success"><i class="fa fa-check"/></i></span>
              {elseif $row['status']==2}<span class="label label-danger" data-toggle="popover" data-placement="top" data-content="已退款"><i class="fa fa-recycle"/></i></span>
              {else}<span class="label label-danger" data-toggle="popover" data-placement="top" data-content="{$row['log']}"><i class="fa fa-times"/></i></span>{/if} </td>
            </tr>
            {/loop}
            <tr>
            <tr>
              <td colspan="6" style="text-align:center">{$pager}</td>
            </tr>
           </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
require(["datetimepicker"], function(){
	$(function(){
			var option = {
				lang : "zh",
				format: 'yyyy-mm',
				autoclose: true,
				todayBtn: true,
				startView: 'year',
				minView:'year',
				maxView:'decade'
			};
		$(".datetimepicker[name='date']").datetimepicker(option);
	});
});
</script>
{elseif $operation == 'display'}


<div class="main">
  <div class="category">
    <form action="" class="form-horizontal form">
      <input type="hidden" name="c" value="site" />
      <input type="hidden" name="a" value="entry" />
      <input type="hidden" name="m" value="j_money" />
      <input type="hidden" name="do" value="history" />
      <input type="hidden" name="isexplode" id="isexplode" value="0" />
      <input type="hidden" name="token" value="{$_W['token']}" />
      <div class="panel panel-info">
      <div class="panel-heading">{if $_GPC['userid']}收银员：<b>{php echo $userList[$_GPC['userid']]}</b>的收银记录{else}总记录{/if}</div>
      <div class="panel-body table-responsive">
        <div class="form-group">
          <!-- <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> -->
          <div class="col-sm-9 form-inline">
            <div class="input-group"> <span class="input-group-addon">关键字</span>
              <input type="text" name="keyword" class="form-control" value="{$_GPC['keyword']}" />
              </div>
          </div>
          </div>
          <div class="form-group">
            <!-- <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> -->
            <div class="col-sm-9 form-inline">
              <div class="input-group"> 
                <span class="input-group-addon">筛选</span> <span class="input-group-btn">
                <select name="shopid" id="shopid"  class="form-control" onChange="changeGroup(1)">
                  <option value="0">全部团队</option>
                    {loop $grouplist $row}
                  <option value="{$row['id']}" {if $row['id']==$_GPC['shopid']}selected{/if}>{$row['companyname']}</option>
                    {/loop}
                </select>
                </span>
                <span class="input-group-btn">
                <select name="userid" id="userid" class="form-control" onChange="changeGroup(2)">
                  <option value="0">全部人员</option>
                    {loop $userList $id $val}
                  <option value="{$id}" {if $id==$_GPC['userid']}selected{/if}>{$val}</option>
                    {/loop}
                </select>
                </span> 
                <span class="input-group-btn">
                
                {php echo tpl_form_field_daterange('gametime', array('start' =>$starttime,'end'=>$endtime),true)}
                </span>
              </div>
              
            </div>
            </div>
             <div class="form-group">
              <!-- <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> -->
              <div class="col-sm-9 form-inline">
                <div class="input-group"> 
                <span class="input-group-addon">筛选</span> <span class="input-group-btn">
                <select name="paytype" class="form-control">
                  <option value="-1">支付方式</option>
                  <option value="1" {if 1==$_GPC['paytype']}selected{/if}>微信</option>
                  <option value="2" {if 2==$_GPC['paytype']}selected{/if}>支付宝</option>
                  <option value="3" {if 3==$_GPC['paytype']}selected{/if}>现金</option>
                  <option value="4" {if 4==$_GPC['paytype']}selected{/if}>银行卡</option>
                  <option value="5" {if 5==$_GPC['paytype']}selected{/if}>会员卡</option>
                  
                </select>
                </span>
                <span class="input-group-btn">
                <select name="status" class="form-control">
                  <option value="-1">状态</option>
                  <option value="2" {if 2==$_GPC['status']}selected{/if}>成功</option>
                  <option value="1" {if 1==$_GPC['status']}selected{/if}>失败</option>
                  <option value="3" {if 3==$_GPC['status']}selected{/if}>退款</option>
                </select>
                </span> 
                </div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label class="col-xs-12 col-sm-3 col-md-2 control-label"></label> -->
              <div class="col-sm-9 form-inline">
                <input type="submit" class="btn btn-danger" onClick="$('#isexplode').val(1)" name="explode" value="导出数据"/>
                <input type="submit" class="btn btn-info" onClick="$('#isexplode').val(0)" value="搜索记录"/>
              </div>
            </div>
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th>类型</th>
                <th>总金额</th>
                <th>优惠金额</th>
                <th>实收金额</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>微信</td>
                <td>￥{php echo sprintf('%.2f',($payAry['wechart']['all']/100))}元 | {php echo $payAry['wechart']['all-count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($payAry['wechart']['coupon']/100))}元 | {php echo $payAry['wechart']['coupon-count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($payAry['wechart']['cash_fee']/100))}元 | {php echo $payAry['wechart']['cash_fee-count']}笔</td>
              </tr>
              <tr>
                <td>支付宝</td>
                <td>￥{php echo sprintf('%.2f',($payAry['alipay']['all']/100))}元 | {php echo $payAry['alipay']['all-count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($payAry['alipay']['coupon']/100))}元 | {php echo $payAry['alipay']['coupon-count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($payAry['alipay']['cash_fee']/100))}元 | {php echo $payAry['alipay']['cash_fee-count']}笔</td>
              </tr>
               <tr>
                <td>银行卡</td>
                <td>￥{php echo sprintf('%.2f',($payAry['cardpay']['all']/100))}元 | {php echo $payAry['cardpay']['all-count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($payAry['cardpay']['coupon']/100))}元 | {php echo $payAry['cardpay']['coupon-count']}笔</td>
                <td>￥{php echo sprintf('%.2f',($payAry['cardpay']['cash_fee']/100))}元 | {php echo $payAry['cardpay']['cash_fee-count']}笔</td>
              </tr>
              <tr>
                <td><strong>合计</strong></td>
                <td style="color:#F00">￥{php echo sprintf('%.2f',(($payAry['alipay']['all']+$payAry['cardpay']['all']+$payAry['wechart']['all'])/100))}元 | {php echo $payAry['alipay']['all-count']+$payAry['cardpay']['all-count']+$payAry['wechart']['all-count']}笔</td>
                <td style="color:#F00">￥{php echo sprintf('%.2f',(($payAry['alipay']['coupon']+$payAry['cardpay']['coupon']+$payAry['wechart']['coupon'])/100))}元 | {php echo $payAry['alipay']['coupon-count']+$payAry['cardpay']['coupon-count']+$payAry['wechart']['coupon-count']}笔</td>
                <td style="color:#F00">￥{php echo sprintf('%.2f',(($payAry['alipay']['cash_fee']+$payAry['cardpay']['cash_fee']+$payAry['wechart']['cash_fee'])/100))}元 | {php echo $payAry['alipay']['cash_fee-count']+$payAry['cardpay']['cash_fee-count']+$payAry['wechart']['cash_fee-count']}笔</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th style="width:140px;">单号</th>
				 <th>店铺</th>
                <th>收银员</th>
                <th>订单金额</th>
                <th>优惠金额</th>
                <th>需付金额</th>
				
				<th>手续费 </th>
                
				<th>实际支付</th>
                <th>支付方式</th>
                <th>优惠方案</th>
                <th>状态|打印</th>
                <th style="text-align:right">操作</th>
              </tr>
            </thead>
            <tbody>
            
            {loop $list $row}
            <tr>
              <td>{if $row['old_trade_no']}<p><span class="label label-info" style="margin-bottom:2px;">原:{$row['old_trade_no']}</span></p>{/if} 
                <p><span class="label label-success">{$row['out_trade_no']}</span></p>
                <span class="label label-info">{php echo date("m-d H:i",$row['createtime'])}</span>
                </td>
			  <td>
			  	{$groupids[$row['groupid']]}
			  </td>	
				
              <td>{php echo $userList[$row['userid']] ? $userList[$row['userid']] : $row["attach"]}</td>
              <td>￥{php echo sprintf('%.2f',($row['order_fee']/100))}
						{if !empty($row['servertype'])}
					<br>{$row['servertype']}
				{/if}
				{if !empty($row['carnumber'])}
					<br>车牌号：{$row['carnumber']}
				{/if}
				{if !empty($row['userbak'])}
					<br>备注：{$row['userbak']}
				{/if}
				{if $row['servermoney']>0}
					<br>服务费：￥{php echo $row['servermoney']/100}
				{/if}

			  
			  </td>
              <td>￥{php echo sprintf('%.2f',($row['coupon_fee']/100))}</td>
              <td><span class="label label-success">￥{php echo sprintf('%.2f',($row['total_fee']/100))}</span></td>
			
				<td><span class="label label-success">￥{php echo sprintf('%.2f',($row['servermoney']/100))}</span></td>
              
			  
              <td><span class="label label-danger">￥{php echo sprintf('%.2f',($row['cash_fee']/100))}</span></td>
              <td>{if $row['attach']=='-' || $row['attach']=='PC'}<span class="label label-info"><i class="fa fa-desktop"/></i></span>{else}<span class="label label-danger"><i class="fa fa-mobile"/></i></span>{/if}
              
              {if $row['paytype']==0}<img src="{MODULE_URL}template/img/wechart.gif" width="21"/> {php echo $data[$row['bank_type']]}{elseif $row['paytype']==1} <img src="{MODULE_URL}template/img/alipay.gif" width="21"/>{php echo $data[$row['bank_type']]}{elseif $row['paytype']==2}<img src="{MODULE_URL}template/img/pay_2.png" width="21"/>{elseif $row['paytype']==3}<img src="{MODULE_URL}template/img/pay_3.png" width="21"/>{elseif $row['paytype']==4}<img src="{MODULE_URL}template/img/menbercard.gif" width="21"/>{/if}</td>
              <td>{$row['marketing_log']}</td>
              <td>
              {if $row['status']==1} <span class="label label-success"><i class="fa fa-check"/></i></span> {if $row['isprint']>0}<a class="tips" href="javascript:" data-toggle="tooltip" data-placement="bottom" title="已打印{$row['isprint']}份"><i class="fa fa-print"/></i></a>{else}<a class="tips" href="javascript:" data-toggle="tooltip" data-placement="bottom" title="未打印" style="color:#F00"><i class="fa fa-print"/></i></a>{/if}
              {elseif $row['status']==2}<span class="label label-danger" data-toggle="popover" data-placement="top" data-content="已退款"><i class="fa fa-recycle"/></i></span>
              {else}<span class="label label-danger" data-toggle="popover" data-placement="top" data-content="{$row['log']}"><i class="fa fa-times"/></i></span>{/if} </td>
              <td style="text-align:right"> {if $row['log']}<span class="label label-danger" data-toggle="popover" data-placement="left" data-content="{$row['log']}"><i class="fa fa-exclamation-circle"/></i></span>{/if}
                <a href="javascript:recheckpay({$row['paytype']},{$row['id']})"  class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="bottom" title="重新获取订单"><i class="fa fa-refresh"></i></a>
                {if $row['status']==0}<a href="javascript:checkpay({$row['paytype']},{$row['id']})"  class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-times"></i></a> {/if}</td>
            </tr>
            {/loop}
            <tr>
            <tr>
              <td colspan="9" style="text-align:center">{$pager}</td>
            </tr>
           </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
{/if} 
<script language="javascript">
function changeGroup(id){
	if(id==1){
		$("#userid").find("option[value='0']").prop("selected",true);
	}else{
		$("#shopid").find("option[value='0']").prop("selected",true);
	}
}
function recheckpay(paytype,id){
	if(paytype>1){
		alert("只有微信/支付宝的订单需要二次查询");
		return;
	}
	var url="{php echo $this->createWebUrl('wajax',array('op'=>'cheackwechatpay'))}";
	if(paytype)url="{php echo $this->createWebUrl('wajax',array('op'=>'cheackalipay'))}";
	$.post(url,{"id":id},function(datas){
		console.log(datas);
		var data=eval("("+datas+")");
		if(data.success){
			alert("收款成功");
			location.reload();
		}else{
			alert(data.msg);
		}
	});
}
function checkpay(paytype,id){
	if(paytype>1){
		alert("只有微信/支付宝的订单需要二次查询");
		return;
	}
	var url="{php echo $this->createWebUrl('wajax',array('op'=>'cheackwechatpay'))}";
	if(paytype)url="{php echo $this->createWebUrl('wajax',array('op'=>'cheackalipay'))}";
	$.post(url,{"id":id},function(data){
		if(data.success){
			location.reload();
		}else{
			location.href="{php echo $this->createWebUrl('history', array('op' => 'delete'))}&id="+id;
		}
	},'json');
}
</script> 
{template 'common/footer'} 