<!doctype html>
<html>
<head design-width="720">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$shop['companyname']}</title>
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/pay/css/style.css" /><!--样式-->
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/pay/css/animate.min.css" /><!--CSS3动画库-->
<script type="text/javascript" src="{MODULE_URL}template/mobile/pay/js/auto-size.js"></script><!--设置字体大小-->
</head>
<body class="bj1">  
	<div class="mobile_wrap center bj">
         <div class="tip">
         	<div class="wid">
         		<i><img src="{$logoUrl}" alt=""></i>
         		<p>{$shop['infoshow']}</p>
         	</div>
         </div>

         <div class="banner">
	        <div class="bann swiper-container">
	            <ul class="swiper-wrapper">
	            	{if !empty($shop['zfbbaner1'])}
	             
					   <li class="swiper-slide"><img src="{php echo toimage($shop['zfbbaner1']);}" alt=""></li>
					{/if}
					{if !empty($shop['zfbbaner2'])}
					
					   <li class="swiper-slide"><img src="{php echo toimage($shop['zfbbaner2']);}" alt=""></li>
					{/if}
				  
				   {if !empty($shop['zfbbaner3'])}
					   <li class="swiper-slide"><img src="{php echo toimage($shop['zfbbaner3']);}" alt=""></li>
				
					{/if}
				</ul>
	        </div>
	        <div class="swiper-pagination">
	        </div>
        </div><!--banner-->

		<div class="store dt">
			<div class="wid">
				  {if !empty($shop['zfblogo'])}
			
				<i><img src="{php echo toimage($shop['zfblogo']);}" alt=""></i>
				{/if}
				<div class="text">
					<h2><a href="#">{$shop['logotitle']}</a></h2>
					<span  {if !empty($shop['zfblogox'])} style="backgroud:url({php echo toimage($shop[zfblogox]);})"{else}style="background:none;" {/if}   >{$shop['logomes']}</span>
				</div>
			</div>
		</div><!-- store -->

		<div class="way dt">
			<div class="wid">
				<ul>
					<li>
						<h2>选择支付方式</h2>
					</li>

					<li class="one">
						<em><img src="{MODULE_URL}template/mobile/pay/img/ico2.png" alt=""></em>
						<div class="text">	
							<h3>信用支付</h3>
							<span>花呗/信用卡</span>
						</div>
						<a href="#"><i class="ico-more"></i></a>
					</li>
					<li class="ont">
						<em><img src="{MODULE_URL}template/mobile/pay/img/ico1.png" alt=""></em>
						<div class="text">	
							<h3>转账支付</h3>
							<span>余额/储蓄卡</span>
						</div>
						<a href="#"><i class="ico-more"></i></a>
					</li>
				</ul>
			</div>
		</div><!-- way -->
		
    <div class="al-box two center">
    	<div class="layout">
    		<div class="box">
    			<h2>信用支付注意事项：</h2>
    			<p>1.支持所有付款方式包括花呗,信用卡等.</p>
    			<p>2.即时到账让付款更方便快捷.</p>
    			{if ($shop['freelimit'] != 0 && $shop['servermoney'] != 0)}
					<p>3.超过{php echo $shop['freelimit']}部分需支付相应手续费 .</p>
    			{else if ($shop['freelimit'] == 0 && $shop['servermoney'] != 0)}
					<p>3.需按照比例支付相应手续费.</p>
    			{/if}
                
               
    		</div>
    		<div class="ok-but">
    			<a class="a2" href="">取消</a>
    			<a href="{php echo $this->createMobileUrl('ayard',array('alipay_pre'=>1,'shopid'=>$_GPC['shopid']))}" class="a1">确认</a>
    		</div>
    	</div>
    </div>
	<div class="al-box three center">
    	<div class="layout">
    		<div class="box">
    			<h2>转账支付注意事项：</h2>
    			<p>1.仅支持支付宝余额或储蓄卡支付.</p>
                <p>2.转账订单无需额外支付手续费.</p>
                <p>3.付款成功后请向店内收银员出示.</p>
    		</div>
    		<div class="ok-but">
    			<a class="a2" href="">取消</a>
    			<a href="{if !empty($shop['transferUrl'])}{$shop['transferUrl']}{else}{php echo $this->createMobileUrl('ayard',array('alipay_pre'=>1,'shopid'=>$_GPC['shopid']))}{/if}" class="a1">确认</a>
    		</div>
    	</div>
    </div>
	<!-- 	<div class="null-box"></div> -->
    </div><!--mobile_wrap-->

    
</body>
<script type="text/javascript" src="{MODULE_URL}template/mobile/pay/js/jquery-2.2.4.min.js"></script><!--jQ库-->
<script type="text/javascript" src="{MODULE_URL}template/mobile/pay/js/swiper-3.3.1.jquery.min.js"></script><!--轮播库-->
<script type="text/javascript" src="{MODULE_URL}template/mobile/pay/js/version-3.2.8.js"></script><!--封装函数-->
<script>
    downslide(".banner .bann",".banner .swiper-pagination","","");

    $(".way .one").click(function(event) {
		$(".al-box.two").fadeIn();
	});
	
	$(".al-box .layout .ok-but a.a2").click(function(event) {
		$(".al-box").fadeOut();
	});
  

    $(".way .ont").click(function(event) {
		$(".al-box.three").fadeIn();
	});
</script>
</html>
